@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

* {
  font-family: 'Orbitron', sans-serif;
  touch-action: manipulation;
}

body {
    background-image: url("/imgs/RockPaperScissors.jpg");
    background-size: cover;
    background-repeat: no-repeat;
      
}

h1 {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    font-size: 32px;
    color: rgb(87, 20, 20);
    
}

h2 {
    display: flex;
    justify-content: center;
    font-size: 40px;
    margin-top: 80px;
    color: rgb(218, 88, 79);
}

span.score {
    display: flex;
    justify-content: center;
    gap:100px;
    font-size: 28px;
    margin-top: 50px;
    color: rgb(218, 88, 79);
}

.container{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 100px;
}
#buttons {
    display: flex;
    justify-content: center;
    background: none;
    border: none;
    outline: none;
    padding-bottom: 100px;
    transition:100ms;
    margin:20px;
}

#buttons:hover{
    transform: scale(1.2);
    cursor: pointer;
}

.outcome {
    display: flex;
    justify-content: center;
    font-size:28px;
    color: rgb(218, 88, 79);
}
